@tailwind base;
@tailwind components;
@tailwind utilities;

.effect {
    height: 80vh;
}

.tag {
    color: #474350;
    font-family: 'Oswald';
    font-size: 3.25rem;
    padding: 0.5rem;
}

.underline_tag {
    text-decoration: solid 1px underline;
}

.projects {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 180px);
    gap: 10px;
}

.item {
    background-color: #474350;
}